<!doctype html>
{% load leaflet_tags %}
<html>
  <head>
    <title>OpenStreetMap OS-Opendata/EduBase/Seed Schoolimport</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <style>
      h1 { padding: 0 30px; }
      .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
                 margin: 20px; background: #eee; padding: 30px; }
      .buttons > div .btn { margin: 5px 10px; }
      .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                         padding-top: 10px; text-align: center; }
      .user-details { text-align: center; font-size: 16px; font-weight: bold; }
      .leaflet-edit-osm a {font-weight: bold; width: 7em!important;}
      .leaflet-edit-osm a:before {content: "Edit in ";}
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="http://osmlab.github.io/leaflet-edit-osm/leaflet-edit-osm.js"></script>
  </head>
  <body>
    <a class="github-fork-ribbon" href="https://github.com/cleder/os-opendata-edubase" title="Fork me on GitHub">Fork me on GitHub</a>
    <h1>Assign a OS-Opendata polygon to School</h1>

    <div class="buttons">
       <h2>{{ site.distname }}</h2>
       <p>{{ site.classifica }}</p>
    </div>
    <div>
    {% leaflet_map "main" callback="main_map_init" %}
    </div>
    <div>
      <div class="alert alert-dismissible alert-info">
      The highlighted blue polygon will be <b>ADDED</b> to OpenStreetMap. If a school
      outline is already shown on the base map behind, then you should
      manually add the tags (& edubase reference manually) to that object.
      </div>
      <div class="jumbotron">
        {% if import_logs %}
        <div class="alert alert-dismissible  alert-success">
          <ul>
          {% for logentry in import_logs %}
          <li>{{ logentry.user.get_username }} created changeset {{ logentry.changeset }} at {{ logentry.created }} </li>
          {% endfor %}
          </ul>
        </div>
        {% else %}
        <h2>Data to be added:</h2>
        <ul>
          {% for school in schools_nearby %}
          <li>
            {% if school.0.website %}
              <b><a href="http://{{ school.2 }}">{{ school.0.schoolname }}</a></b> ({{ school.0.distance }})
            {% else %}
            <b>{{ school.0.schoolname }}</b> ({{ school.0.distance }})
            {% endif %}
            <ul class="nav nav-pills">
             {% for item in school.1.items %}
                <li>{{ item.0 }} = {{ item.1 }} </li>
             {% endfor %}
            </ul>
            <form method="post">
              <input class="btn btn-primary" type="submit" name="{{ school.0.id }}" value="{{ button_text }}">
             {% csrf_token %}
            </form>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div>
        <h2>Openstreetmap Data</h2>
        <ul>
          {% for school in osm_polys %}
          <li><b>{{ school.name }}</b>, {{ school.osm_way_id }}, {{ school.other_tags }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="buttons">
        <ul class="pager">
         {% if prev_site %}
           <li class="previous">
             <a href="{% url 'assign-os-school' prev_site.gid %}">&larr; {{ prev_site.distname}}</a>
           </li>
         {% endif %}
         {% if next_site %}
          <li class="next">
            <a href="{% url 'assign-os-school' next_site.gid %}">{{ next_site.distname}} &rarr;</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <script type="text/javascript">
        function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.schoolname) {
                  layer.bindPopup(feature.properties.schoolname);
                }
              };

        function main_map_init (map, options) {
            // set up the map
            map.setView(new L.LatLng(53.0, 0.79),8);
            var dataurl = '{% url "os-school" site.gid %}';
            var addrdataurl = '{% url "edubase-schools" site.gid %}';
            var osmdataurl = '{% url "osm-schools" site.gid %}';
            var osmlinesurl = '{% url "osm-schoollines" site.gid %}';
            var osmmlinesurl = '{% url "osm-schoolmliness" site.gid %}';
            var osmpointsurl = '{% url "osm-schoolpoints" site.gid %}';

            var osmStyle = {
                "color": "#ff7800",
                "weight": 5,
                "opacity": 0.65
            };
            var geojsonMarkerOptions = {
                radius: 8,
                fillColor: "#ff7800",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };
            $.getJSON(osmdataurl, function (data) {
                // Add GeoJSON layer for schools from openstreetmap
                var layer = L.geoJson(data, style=osmStyle)
                layer.addTo(map);
            });
            $.getJSON(osmlinesurl, function (data) {
                // Add GeoJSON layer for school lines from openstreetmap
                var layer = L.geoJson(data, style=osmStyle)
                layer.addTo(map);
            });
            $.getJSON(osmmlinesurl, function (data) {
                // Add GeoJSON layer for school multilines from openstreetmap
                var layer = L.geoJson(data, style=osmStyle)
                layer.addTo(map);
            });
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer for schools for os-open
                var layer = L.geoJson(data)
                layer.addTo(map);
                map.fitBounds(layer.getBounds());
                map.setZoom(17);
            });
            $.getJSON(osmpointsurl, function (data) {
                // Add GeoJSON layer for school Points from openstreetmap
                L.geoJson(data, {
                    onEachFeature: onEachFeature,
                    pointToLayer: function (feature, latlng) {
                        return L.circleMarker(latlng, geojsonMarkerOptions);
                    }
                }).addTo(map);

            });
            $.getJSON(addrdataurl, function (data) {
                // Add GeoJSON layer for school address point data
                var layer = L.geoJson(data, {onEachFeature: onEachFeature})
                layer.addTo(map);
            });
            new leafletEditOsm().addTo(map);
        }
    </script>
  </body>
</html>
