<!doctype html>
{% load leaflet_tags %}
<html>
  <head>
    <title>OpenStreetMap OS OpenData/EduBase/Seed Schoolimport</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      h1 { padding: 0 30px; }
      .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
                 margin: 20px; background: #eee; padding: 30px; }
      .buttons > div .btn { margin: 5px 10px; }
      .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                         padding-top: 10px; text-align: center; }
      .user-details { text-align: center; font-size: 16px; font-weight: bold; }
      .leaflet-edit-osm a {font-weight: bold; width: 7em!important;}
      .leaflet-edit-osm a:before {content: "Edit in ";}
      .leaflet-container-default {min-height: 500px;}
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//osmlab.github.io/leaflet-edit-osm/leaflet-edit-osm.js"></script>
  </head>
  <body>
    <a class="github-fork-ribbon" href="https://github.com/cleder/os-opendata-edubase" title="Fork me on GitHub">Fork me on GitHub</a>
    {% include "navigation.html" %}

<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Flag this Polygon
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form" method="post">
                  <!--div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control"
                      id="exampleInputEmail1" placeholder="Enter email"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control"
                          id="exampleInputPassword1" placeholder="Password"/>
                  </div>
                  <div class="checkbox">
                    <label>
                        <input type="checkbox"/> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button-->
                  <div class="form-group">
                  {{ comment_form }}
                  </div>
                  {% csrf_token %}
                  <input class="btn btn-warning" type="submit" name="submit-comment" value="Submit">
                </form>
            </div>

            <!-- Modal Footer -->
            <!--div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div-->
        </div>
    </div>
</div>
    <div class="buttons">
       <h2>Assign a OS OpenData polygon to a School</h2>
       <h3>{{ site.distname }}</h3>
       <p>
       {{ site.classifica }}
       <i>(shown as a blue polygon)</i>
       <button class="btn btn-warning" data-toggle="modal" data-target="#myModalNorm">
          Flag this
        </button>
       </p>
       {% if comments %}
       <ul class="list-group">
         {% for comment in comments %}
         <li class="list-group-item" > {{ comment.user }} commented at {{ comment.created }}:
         {{ comment.comment }}{{ comment.flag }}
         </li>
         {% endfor %}
       </ul>
       {% endif %}
    </div>
    <div style="padding: 0 3%;">
    {% leaflet_map "main" callback="main_map_init" %}
    </div>
    <div>
      <div class="alert alert-dismissible alert-info">
      The highlighted blue polygon will be <b>ADDED</b> to OpenStreetMap. If a school
      outline is already shown on the base map behind, then you should
      manually add the tags (& edubase reference manually) to that object.
      </div>
      <div class="jumbotron">
        {% if import_logs %}
        <script type="text/javascript">
        {{ inject_js|safe }}
        </script>
        <div class="alert alert-dismissible  alert-success">
          <ul class="list-group">
          {% for logentry in import_logs %}
          <li class="list-group-item">{{ logentry.user.get_username }} created changeset {{ logentry.changeset }} at {{ logentry.created }} </li>
          {% endfor %}
          </ul>
        </div>
        {% else %}
        {% if not comments %}
        <h2>Data to be added:</h2>
        {% endif %}
        <ul>
          {% for school in schools_nearby %}
          <li>
            {% if school.0.website %}
              <b><a href="http://{{ school.2 }}">{{ school.0.schoolname }}</a></b> ({{ school.0.distance }})
            {% else %}
            <b>{{ school.0.schoolname }}</b> ({{ school.0.distance }})
            {% endif %}
            <ul class="breadcrumb">
             {% for item in school.1.items %}
                <li>{{ item.0 }} = {{ item.1 }} </li>
             {% endfor %}
            </ul>
            {% if not comments %}
            <form method="post">
              <input class="btn btn-primary" type="submit" name="{{ school.0.id }}" value="{{ button_text }}">
             {% csrf_token %}
            </form>
            {% endif %}
            </li>
          {% endfor %}
          {% if not schools_nearby %}
          <div class="alert alert-dismissible  alert-warning">
            There are no schools nearby.
            This might not mean the site is not/no longer a school though, as it could be a
            satellite site for a school with a main address elsewhere.
          </div>
          {% endif %}
        </ul>
        {% endif %}
      </div>
      {% if osm_polys %}
      <div>
        <h2>Openstreetmap Data</h2>
        <i>(Shown as ember features)</i>
        <ul>
          {% for school in osm_polys %}
          <li><b>{{ school.name }}</b>, {{ school.osm_way_id }}, {{ school.other_tags }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="buttons">
        <ul class="pager">
         {% if prev_site %}
           <li class="previous">
             <a href="{% url route prev_site.id %}">&larr; {{ prev_site.distname}}</a>
           </li>
         {% endif %}
         {% if next_site %}
          <li class="next">
            <a href="{% url route next_site.id %}">{{ next_site.distname}} &rarr;</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <script type="text/javascript">
        function onEachFeature(feature, layer) {
                if (feature.properties && feature.properties.schoolname) {
                  layer.bindPopup(feature.properties.schoolname);
                }
              };

        function main_map_init (map, options) {
            // set up the map
            map.layerscontrol.options.collapsed = false;
            map.setView(new L.LatLng(53.0, 0.79),8);
            var dataurl = '{% url "os-school" site.id %}';
            var addrdataurl = '{% url "edubase-schools" site.id %}';
            var osmdataurl = '{% url "osm-schools" site.id %}';
            var osmlinesurl = '{% url "osm-schoollines" site.id %}';
            var osmmlinesurl = '{% url "osm-schoolmlines" site.id %}';
            var osmpointsurl = '{% url "osm-schoolpoints" site.id %}';

            var osmStyle = {
                "color": "#ff7800",
                "weight": 5,
                "opacity": 0.65
            };
            var geojsonMarkerOptions = {
                radius: 8,
                fillColor: "#ff7800",
                color: "#000",
                weight: 1,
                opacity: 1,
                fillOpacity: 0.8
            };
            $.getJSON(osmdataurl, function (data) {
                // Add GeoJSON layer for schools from openstreetmap
                var layer = L.geoJson(data, style=osmStyle)
                layer.addTo(map);
            });
            $.getJSON(osmlinesurl, function (data) {
                // Add GeoJSON layer for school lines from openstreetmap
                var layer = L.geoJson(data, style=osmStyle)
                layer.addTo(map);
            });
            $.getJSON(osmmlinesurl, function (data) {
                // Add GeoJSON layer for school multilines from openstreetmap
                var layer = L.geoJson(data, style=osmStyle)
                layer.addTo(map);
            });
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer for schools for os-open
                var layer = L.geoJson(data)
                layer.addTo(map);
                map.fitBounds(layer.getBounds());
                map.setZoom(17);
            });
            $.getJSON(osmpointsurl, function (data) {
                // Add GeoJSON layer for school Points from openstreetmap
                L.geoJson(data, {
                    onEachFeature: onEachFeature,
                    pointToLayer: function (feature, latlng) {
                        return L.circleMarker(latlng, geojsonMarkerOptions);
                    }
                }).addTo(map);

            });
            $.getJSON(addrdataurl, function (data) {
                // Add GeoJSON layer for school address point data
                var layer = L.geoJson(data, {onEachFeature: onEachFeature})
                layer.addTo(map);
            });
            new leafletEditOsm().addTo(map);
        }
    </script>
  </body>
</html>
