<!doctype html>
{% load leaflet_tags %}
<html>
  <head>
    {% load staticfiles %}
    <title>OpenStreetMap OS-Opendata/EduBase/Seed Schoolimport</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
    <style>
      h1 { padding: 0 30px; }
      .buttons { display: block; table-layout: fixed; border-radius: 7px; border: 1px solid #ccc;
                 margin: 20px; background: #eee; padding: 30px; }
      .buttons > div .btn { margin: 5px 10px; }
      .buttons > div:not(:first-child) { margin-top: 10px; border-top: 1px solid #ccc;
                                         padding-top: 10px; text-align: center; }
      .user-details { text-align: center; font-size: 16px; font-weight: bold; }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="{% static 'js.cookie-2.1.2.min.js' %}"></script>
  </head>
  <body>
    <a class="github-fork-ribbon" href="https://github.com/cleder/os-opendata-edubase" title="Fork me on GitHub">Fork me on GitHub</a>
    {% include "navigation.html" %}
    <h1>OpenStreetMap OS-Opendata/EduBase/Seed Schoolimport</h1>

    <div class="buttons">
      {% if user.is_authenticated %}
        <div class="user-details">
          You are logged in as <code>{{ user.username }}</code>!
        </div>
      {% endif %}

      {% if not user.is_authenticated %}
      <div>
        <a class="btn btn-primary" id="osm-button" name="osm" href="{% url 'social:begin' backend='openstreetmap' %}">
          Login with OpenStreetMap
        </a>
      </div>
      {% endif %}

      {% if user.is_authenticated %}
      <div>
        <a class="btn btn-primary" href="{% url 'logout' %}" id="logout">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </div>
      {% endif %}
    </div>
    <div style="padding: 0 3%;">
    {% leaflet_map "main" callback="main_map_init" %}
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-secondary"  onclick="clearLoaction()">Clear Location</button>
    </div>
    <script type="text/javascript">
        var myMap;
        var marker;
        function clearLoaction() {
                Cookies.remove('Location');
                myMap.removeLayer(marker)
              };

        function main_map_init (map, options) {
            // set up the map


              function onMapClick(e) {
                if (marker != undefined) {
                  map.removeLayer(marker);
                };
                Cookies.set('Location', { lat: e.latlng.lat, lng: e.latlng.lng });
                marker = new L.circle([e.latlng.lat, e.latlng.lng], 16093, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.3
                });
                map.addLayer(marker);
              };

            function onLocationFound(e) {
               onMapClick(e);
            };
            function onLocationError(e) {
              alert(e.message);
              map.setView(new L.LatLng(53.0, 0.79),8);
            };
            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);
            // start the map at users position
            if (Cookies.get('Location') == undefined) {
              map.locate({setView: true, maxZoom: 10});
            } else {
              latlng = Cookies.getJSON('Location');
              map.setView(new L.LatLng(latlng.lat, latlng.lng),8);
              marker = new L.circle([latlng.lat, latlng.lng], 16093, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.3
                });
                map.addLayer(marker);
            };

            map.on('click', onMapClick);
            myMap = map;
        };

    </script>
  </body>
</html>
