street-address==0.3.0
decorator==4.0.10
Django==1.9.8
django-geojson==2.9.0
django-leaflet==0.18.1
ecdsa==0.13
gunicorn==19.6.0
ipdb==0.10.1
ipython==5.0.0
ipython-genutils==0.1.0
paramiko==2.0.2
path.py==8.2.1
pexpect==4.2.0
phonenumberslite==7.5.1
pickleshare==0.7.3
pip-check==0.2
pip-check==0.2
psycopg2==2.6.2
ptyprocess==0.5.1
pycrypto==2.6.1
pygeoif==0.6
python-Levenshtein==0.12.0
python-social-auth==0.2.19
requests-oauthlib==0.6.2
simplegeneric==0.8.1
traitlets==4.2.2

-e git://github.com/cleder/osmoapi@0.2#egg=osmoapi
